
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}



body {
    background-color: #ffffff;
}

a {
  color: #ffffff;
  background-color: rgb(110, 104, 104);
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

p{
  padding-top: 3em;
  display: flex;
  flex-wrap: wrap;
}

/* header with fixed position*/
header {
    padding: 10px;
    color: #ffffff;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%;
    display: flex;
    flex: content;
    cursor:crosshair;
  
}

.logo{
  cursor: crosshair;
}

header h1 {
    font-size: 48px;
 }

h2{
     font-size: 30px;
    text-align: center;
    border: solid;
    border-radius: 4px;
    width:100%;
   }

/* Navigation part*/
header > nav {
    margin-left: 70%;
    margin-top: -4px;
    display: inline-flexbox;
    font-size: 20px; 
    }

header nav ul li {
  display: inline-block;
  margin-left: 20px;

 
}
        /* Drop down menu*/

        /* Dropdown Button */
        .dropbtn {
          background-color: #ffffff;
          color: black;
          padding: 16px;
          font-size: 16px;
          border-style: double;
          margin-top: 5.5em;
          margin-left: 15em;
          border-radius: 6px;
          
        }

        /* the drop down menu code is derived from W3 Schools*/
        .dropdown {
          position: relative;
          display: inline;
        
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
          margin-left: 7em;
          border-radius: 6px;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        /* Changes the color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #ddd;}

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {display: block;}

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {background-color: #333;}
          



        /*end drop down menu code*/


/* Main logo on the screen when it loads*/
.logo {
    margin-bottom: 25px;
    padding-bottom: 25px;
    width: 100%
}


/*This section deals with the About Me Section*/
.about-me{
    margin-bottom: 25px;
    display: inline-block;
    }
/* HOW DO I WRAP THE TEXT TO THE IMAGE?*/


.work {
    display: inline-block;
  }
  
  .column {
    display:inline-block;
    
    float: left;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    
  }


.work img:hover{
    display:none;
}

project { /*Captions below the under construction*/
  color: black;
  margin-left: 33.3%;
  background-color: rgb(255, 208, 0);
  font-family: sans-serif;
  font-weight: bold;
  padding: 1em;
  text-align: center;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

/* Contact information fill in boxes */
.contact{
  padding: 5em;
    display:flexbox;
    flex: auto;
    width: 33.3%;
    margin-left: 33.3%;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  

  input[type=submit] {
    background-color: #333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: rgb(107, 105, 105);
  }
  
  
  .container {
    border-radius: 5px;
    background-color: black;
    padding: 20px;
  }

footer {
    padding: 30px;
    clear: both;
    font-family: sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}


   /* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design*/
  @media screen and (min-width: 768px) {
     on tablets, set columns to only be 50% of the width and not grow 
    .work {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    @media screen and (max-width: 500px) { /*responsive nav bar*/
      .nav a {
        float: none;
        display: block;
      }
    }
  }
  
  /* media query for larger screens
  @media screen and (min-width: 992px) {
    header {
      width: 75%;
    }
  
    .card-column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
*/
  }