
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #333;
    color:cornsilk;
}


a:link{
  color: #ffffff
}

a:visited{
  color: #ffbf80;
}


/* header with fixed position*/
header {
    padding: 10px;
    color: #ffffff;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%;
    display: flex;
    flex: content;
}

header h1 {
    font-size: 48px;
 }

h2{
     font-size: 30px;
    text-align: center;
    border: solid;
    border-radius: 4px;
    width:100%;
   }
 

/* Navigation part*/


header nav {
    /* margin-left: 25%; */
    margin-top: 7%;
    display: inline-block;
    float: right;
    font-size: 20px; 
    position: absolute;
}

header nav ul {
    list-style-type: none;
    top: -30%;
   
}

/*makes them side by side in columns*/
header nav ul li {
    display: inline-block;
    margin-left: 20px;
}
.content-wrapper{
width: 95%;
}

/* Main logo on the screen when it loads*/
.logo {
    margin-bottom: 25px;
    padding-bottom: 25px;
    width: 100%
}


/*This section deals with the About Me Section */
.about-me{
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.about-me h3{
  margin:auto;
  padding: 1em;
  font-size: 26pt;
  font-family: monospace;
}

.about-me > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-desc{
  display:flex;
  flex-direction: row;
  width: 30%;
  }
  
 .about-desc{
   width: 69%;
   display:flex;
   flex-direction: row;
 } 

/* This section is for Work. Work is currently under consturction images because there isn't anything to put there yet. It will be filled with projects as the class goes by.*/
.work {
    display: inline-block;
    }
  
.work p{
  padding: 1em;
}
 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.column caption {
  font-weight: bolder;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
     

/* Acceptance Criteria: WHEN I am presented with the developer's first application
THEN that application's image should be larger in size than the others */
.work img:hover{
  transform: scale(1.5);
}

.contact ul{
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
}

.contact p{
  padding: 1em;
}

/* Footer section of the style */
footer {
    padding: 30px;
    clear: both;
    font-family: sans-serif;
    text-align: center;
}

footer h3 {
    font-size: 20px;
}



/* Acceptance Criteria: WHEN I resize the page or view the site on various screens and devices
THEN I am presented with a responsive layout that adapts to my viewport */
  @media screen and (min-width: 768px) {
     on tablets, set columns to only be 50% of the width and not grow 
    .work {
      flex: 0 0 50%;
      max-width: 50%;    
    }  
  }
    @media screen and (max-width: 768px) { 
      .nav {
        display: flex;
        flex: auto;
      }
          
    }
    

  